*{
margin: 0;
padding:0;
 box-sizing: border-box;
}

.Container{
display:grid;
 height: 100vh;
grid-template-columns: 200px 1fr;
grid-template-rows: 100px 1fr 60px;
grid-template-areas: 
"s  t"
"s  m"
"s  p";
 


}

.side-bar{
  grid-area: s;
 background-color: black;
color: whitesmoke;
width: 20vw;
padding: 20px;
 display:grid;
 grid-template-rows: 1fr auto;

 

}

.logo-item{
  padding:20px;
  justify-items: centre;
  font-size: 15px;
  
}


.main-section{
 grid-area: m;
 background-color: rgb(13,15,20);
 color: aliceblue;
 padding: 20px;
 display:grid;
 grid-template-rows: auto 1fr;


 
}
.menu-text{
  font-size: 20px;

}
.menu-text:hover{
  color: lightgreen;
}

.top-bar{
grid-area: t;
border: 1px solid;
 background-color: rgb(21,25,33);
 
}

.player{
  grid-area: p;
  background-color:rgb(40,40,40);
  position: sticky;
}

.main-section ul{
 list-style: none;
 text-align: center;
 

}
 .main-section li{
   display:inline-block;
    
   

 }

.top-item{
display:grid;
justify-items: right;
padding: 10px;

}
.middle{
display: grid;
 gap:10px;


}
 
.Upgrade-link{
   color: blue;
   border-radius: 10px;
  padding: 10px;
border:2px  blue solid;
 }
 
h1{
font-size: 15px;
text-align: centre;
padding: 10px;
}

.song play-list{
  text-align:center;
  

}


 ul{
  list-style: none;
  padding: 20px;
}

a{
text-decoration: none;
color: white;
}
 
a:hover{
 color: rgb(101, 64, 112);
 
 
}
 .top-bottom{
  padding: 10px;
  border-bottom: 1px white solid;
 }
 .bottom{
 padding: 20px;
 }

 